extends layout
block vars 
    -var locationPageActive= "active"
    -var blackStar = ""
block title   
  title TravelExperts Packages
block content
 main#main
  section#contact.contact.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 #{pkgLocationName}  
      if packages.length == 0
        h4 Sorry, we have no packages at this location. Please take a look at the packages menu
      each pkg in packages  
        .row.row-packages        
          .col-lg-4.package-cols.no-shadow
            .pic            
              img.img.figure-img.img-fluid.rounded-fluid(src=`/media/MainPage/${pkg.picName}.jpg` alt=`${pkg.detailedLocation}`)
          .col-lg-4.col-centered.package-cols 
            h2 
              packageTitle= `${pkg.detailedLocation}`
             
            p.left-align= `${pkg.description}`
            p.left-align= `Base Price per person: $${pkg.basePrice} CAD`
            p.left-align= `Service Fee: $${pkg.agentCommission} CAD`
            if pkg.startDate <= new Date()
              p(style='color:red;').left-align= `Start Date: ${String(pkg.startDate).slice(3, 15)}`
            else
              p.left-align= `Start Date: ${String(pkg.startDate).slice(3, 15)}`
            p.left-align= `End Date: ${String(pkg.endDate).slice(3, 15)}`
            if !currentUser
              form(method='GET' action='/account' target='')
                button.btn.btn-primary= `Log in or register to purchase`
            else
              form(method='POST' action=`/packages/purchase/` target='')
                input(type='hidden' name='pkgID' value=`${pkg._id}`)
                input(type='hidden' name='detailedLocation' value=`${pkg.detailedLocation}`)
                input(type='hidden' name='pkgBasePrice' value=`${pkg.basePrice}`)
                input(type='hidden' name='pkgAgentPrice' value=`${pkg.agentCommission}`)
                button.btn.btn-primary= `Purchase Package`
          .col-lg-4.col-centered.package-cols 
            .row.row-reviews
              h2= `Reviews ${'\u2605'.repeat(parseInt(pkg.averageRating))}${'\u2606'.repeat(5-parseInt(pkg.averageRating))}`
              .review 
                each rev in pkg.reviews
                  .review-box
                    Username= `${rev.username} \t`
                    span= `${'\u2605'.repeat(parseInt(rev.rating))+'\u2606'.repeat(5-parseInt(rev.rating))}`
                    if currentUser
                      if currentUser._id == rev.userID
                        span.btn-del
                          form(method='POST' action=`/packages/review/delete` target='')
                            input(type='hidden' name='rating' value=`${rev.rating}`)
                            input(type='hidden' name='userID' value=`${rev.userID}`)
                            input(type='hidden' name='pkgID' value=`${pkg._id}`)
                            input(type='hidden' name='reviewID' value=`${rev._id}`)
                            input(type='hidden' name='locationName' value=`${pkg.locationName}`)
                            button.btn.btn-outline-danger.btn-sm(type='submit') Delete
                    p.review-text
                      review= `${rev.reviewText} `

            //Submission form
            .row.row-reviews
              h5 Submit a Review
              if !currentUser
                form(method='GET' action='/account' target='')
                  button.btn.btn-primary= `Log in or register to review`
              else
                form.review-container(method="POST" action="/packages/review/" target="")
                  label(for="rating") How would you rate this location?
                  br
                  select.review-form(name='rating' required
                  oninvalid="setCustomValidity('Please select a review star')"
                  oninput="setCustomValidity('')")
                    option(value="" disabled='' selected="" hidden='' required="") Select ... 
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                  textarea.form-control.review-form(name='reviewText' placeholder='Add a Review' rows="3")
                  input(type='hidden' name='pkgID' value=`${pkg._id}`)
                  input(type='hidden' name='locationName' value=`${pkg.locationName}`)
                  button.btn.btn-primary.btn-review(type='submit') Submit
                  
                
                  